* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 5rem;
    margin: 1rem 0 2rem 0;
    font-family: 'Pacifico', cursive;
}
#gallery-container {
    display: flex;
    flex-wrap: wrap;
    width: 1056px;
}
#gallery-container .galery-item {
    width: 350px;
    height: 350px;
    position: relative;
    overflow: hidden;
    margin: 1px;
}
.fade {
    opacity: 0;
    z-index: 2;
    transition: all 0.3s ease-in-out;
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    color: rgb(255, 38, 38);
}
#gallery-container .galery-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    transition: all 0.3s ease-in-out;


}
#gallery-container .galery-item:hover img {
    width: 102%;
    height: 102%;
}
#gallery-container .galery-item:hover .dark-overlay {
    opacity: 0.5;
}
.dark-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(32, 0, 0);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
#gallery-container .galery-item:hover .fade {
    opacity: 0.9;
}

.search-box {
    position: relative;
    margin: 2rem 0;
}
.search-box input {
    width: 600px;
    height: 55px;
    border: none;
    outline: none;
    box-shadow: 0 0 8px rgb(228, 228, 228);
    border-radius: 30px;
    padding-left: 3.5rem;
    font-size: 1.1rem;
    transition: all 0.25s ease-in-out;
    color: #202224;
}
.search-box input:focus {
    box-shadow: 0 0 8px rgb(183, 228, 255);
    width: 620px;

}
.search-box i {
    position: absolute;
    color: grey;
    font-size: 1.25rem;
}
.search-box .fa-search {
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
}